.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand > img {
  padding: 2px 1px;
}
.navbar {
  background: #b3e0e8;
  position: relative;
}

.nav-link > a {
  font-size: 20px;
  color: #b3e0e8;
}
