footer {
  min-height: 200px;
  background: #b3e0e8;
  position: relative;
  padding-top: 25px;
  padding-bottom: 10px;
  color: #36a0b5;
}
.footer-bottom {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #36a0b5;
  color: white;
}
img {
  padding: 2px 1px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
}
