footer {
  display: flex;
  text-align: center;
  font-family: "Rubik", sans-serif;
  position: fixed;
  min-height: 300px;
  background: #b3e0e8;
  position: relative;
  padding: 60px 30px 40px;
  color: #36a0b5;
}
.footer-bottom {
  position: absolute;
  text-align: center;
  font-weight: lighter;
  font-size: small;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #36a0b5;
  color: white;
}
img {
  padding: 2px 1px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 100px;
}
