.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app {
  padding: 10px;
}

.form-input {
  margin: 10px 0px;
}


.viewSavedBtn {
  font-size: 24px !important;
}

.viewSavedBtn:hover {
  color: white !important;
  background-color: #36A0B5 !important;
  cursor: pointer;
} 

/* .property-search-display {
  border: 1px solid lightgrey;
  margin: 5px 0px;
  border-radius: 4px;
  padding: 10px;
} */
