.heading {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 15px;
}
.avatar {
  width: 210px;
  height: 210px;

  padding: 0;
  -webkit-box-shadow: 0px 9px 13px -4px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 0px 9px 13px -4px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 9px 13px -4px rgba(0, 0, 0, 0.59);
}
.name {
  font-weight: bold;
  color: black;
}
.title {
  color: slategray;
}

.email-btn,
.github-btn,
.linkedin-btn {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  position: relative;
  top: -1px;
  font-size: 20px;
  margin: 8px;
  -webkit-box-shadow: 0px 9px 13px -4px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 0px 9px 13px -4px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 9px 13px -4px rgba(0, 0, 0, 0.59);
}
.github-btn {
  background-color: #171515;
}
.linkedin-btn {
  background-color: #0e76a8;
}
.email-btn {
  background-color: slategray;
}
a {
  color: white !important;
}
a:hover {
  color: #0e76a8 !important;
}
.landing-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.notfound {
  background-color: whitesmoke;
  margin: 0;
  padding: 100px;
  font-family: "Rubik", sans-serif;
  text-align: center;
}
